USE [Restaurant]
GO
/****** Object:  View [dbo].[View_Anzahl_Gerichte_Pro_Lagermenge]    Script Date: 20.06.2024 09:37:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Anzahl_Gerichte_Pro_Lagermenge]
AS
SELECT        TOP (100) PERCENT dbo.tb_ZutatenGericht.GerichtID, dbo.tb_ZutatenGericht.ZutatID, dbo.tb_ZutatenGericht.Menge AS Zutatenmenge_benötigt_pro_Gericht, dbo.tb_ZutatenLager.Menge AS Lagerbestand_pro_Zutat, 
                         CONVERT(INT, dbo.tb_ZutatenLager.Menge / dbo.tb_ZutatenGericht.Menge) AS Anzahl_bestellbar_pro_Gericht
FROM            dbo.tb_ZutatenGericht INNER JOIN
                         dbo.tb_ZutatenLager ON dbo.tb_ZutatenGericht.ZutatID = dbo.tb_ZutatenLager.ZutatID
ORDER BY dbo.tb_ZutatenGericht.GerichtID, Anzahl_bestellbar_pro_Gericht
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[44] 4[19] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tb_ZutatenGericht"
            Begin Extent = 
               Top = 100
               Left = 347
               Bottom = 254
               Right = 584
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tb_ZutatenLager"
            Begin Extent = 
               Top = 56
               Left = 791
               Bottom = 254
               Right = 1016
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1005
         Width = 1005
         Width = 3345
         Width = 3735
         Width = 4155
         Width = 1005
         Width = 1005
         Width = 1005
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 2145
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Anzahl_Gerichte_Pro_Lagermenge'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Anzahl_Gerichte_Pro_Lagermenge'
GO
